* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

#d1 {
    width: 100%;
    height: 100vh;
    display: flex;
}

#d1_1 {
    width: 50%;
    height: 100%;
    background-image: url('/img/openart-image_VWxomwc__1716343812927_raw.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#d1_2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#d1_1_2 {
    font-size: 54px;
    color: #680f82;
    font-weight: bolder;
}

#d1_1_3 {
    font-size: 34px;
    color: rgb(48, 48, 48);
    margin-top: 2vh;
    font-weight: bolder;
}

#formCont {
    width: 55%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formDivs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    margin-top: 3vh;
    margin-bottom: 20px;
}

.forgotPassword {
    text-align: right;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.formDivs_fc {
    font-size: 20px;
    color: rgb(28, 28, 28);
    text-align: left;
    width: 100%;
    margin-bottom: 2vh;
}

.imgFromLogin {
    width: 200px;
}

#goPharmaTitleForResponsive {
    margin-bottom: 30px;
}

.formDivs {
    margin-top: 0vh;
}

.botonIniciarSesion {
    text-transform: uppercase;
}

.botonIniciarSesion:hover {
    background-color: #410952 !important;
}

@media screen and (max-width: 700px) {
    #d1_2 {
        width: 100%;
    }
    #d1_1 {
        display: none;
    }

    #formCont {
        width: 90%;
        height: auto;
    }

    #goPharmaTitleForResponsive {
        display: flex;
        font-size: 42px;
        color: #680f82;
        font-weight: bolder;
    }

    .formDivs_fc {
        font-size: 22px;
    }

    .formDivs {
        margin-top: 0vh;
    }

    .formDivs_fc {
        margin-bottom: 2vh;
    }
}
