/* .hover-link:hover{
    background: #fff;
} */

/* .ant-menu:hover {
background: #fff;
} */
/* .ant-menu-item-selected:hover{
background: #fff;
}

.ant-menu-dark>.ant-menu.ant-menu-item-selected:hover{
    background: #fff;
} */

aside li:hover{
    background: #1677ff !important;
}

aside li li:hover{
    background: #1677ff86 !important;
}

.efectButtonOff aside.width-80{
    border-radius: 0px 15px 15px 0px !important;
}
aside.width-250.right{
    flex: 0 0 250px !important;
    max-width: 250px !important;
    min-width: 250px !important;
    width: 250px !important;
    border-radius: 0px 15px 15px 0px;
}

.efectButtonOn aside.width-80{
    border-radius: 15px 0px 0px 15px !important;
}
aside.width-250.left{
    flex: 0 0 250px !important;
    max-width: 250px !important;
    min-width: 250px !important;
    width: 250px !important;
    border-radius: 15px 0px 0px 15px;
}

/* .ant-layout-sider-children{
    background: #6A1B9A !important;
}

.ant-layout-sider-children > ul{
    background: #6A1B9A !important;
}
.ant-layout-sider-children > ul > li > ul{
    background: #6A1B9A !important;
} */

.ant-menu.ant-menu-sub.ant-menu-vertical{
    scrollbar-width: thin !important;  
}